# OpenSpace LLM Configuration
OPENSPACE_MODEL=openai/antigravity/gemini-3.7-flash-tiered
OPENSPACE_LLM_API_BASE=http://192.168.85.129:20128/v1
OPENSPACE_LLM_API_KEY=your_api_key_here

# OpenSpace Custom Ports
OPENSPACE_MCP_PORT=28580
OPENSPACE_GUI_PORT=28588
